#container {
	max-width: 850px;
	max-height: 1169px;
	margin: 8em auto 4em;
	background: url(background-01.jpg);
}

rect.box {
	transform: rotate(45deg);
}

rect.green {
	fill: #23731E;
	fill-opacity: 0.8;
	z-index: 0;
}

rect.blue {
	fill: #1C386F;
	fill-opacity: 0.8;
	z-index: 10;
}

rect.one {

}

rect.two:hover {
	transition: 0.5s ease-in;
	transform: skewY(45deg);
}

rect.two {
	transition: 1s ease-out;
	mix-blend-mode: normal;
}

rect.three {
	animation: colors 3.5s linear 1s infinite alternate;
}

@keyframes colors {
	0% {
		fill: green;
	}
	100% {
		fill: transparent;
	}
}

h1 {
	transform: rotate(45deg);
}

.names {
	margin: -490px 0px 0px 40px;
	text-align: right;
	position: relative;
	float: left;
	font-family: Helvetica Neue, sans-serif;
	transform: rotate(45deg);
	font-size: 2.5em;
	line-height: .25em;
	font-weight: bold;
	color: #092737;
}
.info {
	margin: -270px 0px 0px 200px;
	text-align: left;
	float: left;
	font-family: Helvetica Neue, sans-serif;
	transform: rotate(45deg);
	font-size: 8px;
	line-height: 10px;
	font-weight: bolder;
	width: 300px;
	height: 300px;
	color: #092737;
}

#title {
	margin: -430px 0px 0px 130px;
	float: left;
	position: relative;
	font-family: Helvetica Neue, sans-serif;
	font-size: 2.5em;
	color: #092737;
}