h1 {font-family: helvetica;
	color: white;
	font-size: 10em;
	line-height: 95%;
	-webkit-text-stroke: .9px black;
	margin-top: -.1em;
	margin-bottom: -.05em;
	/*background-color: black;*/}

em {font-size: 2em;
	color: red;
	font-style: normal;
	line-height: 100%;
	}

body {font-family: georgia;
/*-webkit-column-count: 2;*/}

h2 {font-family: helvetica;
	color: red;
	font-size: 1.2em;
	line-height: 95%;
	-webkit-text-stroke: none none;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-bottom: .17em;
	margin-top: 2em;}

h4 {font-style: italic;}

li {list-style: circle;
	/*margin-top: -1em;*/}

h3 {margin-top: 3em;}