body{
	background-color: rgba(249, 249, 249, 0.51);
	font-family:'helvetica neue';
	margin-left: 3em;
	margin-right: 35em;
	/*spacing: ;>*/
}
p{
	line-height:113%;
}
ul {
	color:#8A8383;
}
.author{margin-bottom:5em;
}

/* first opening*/
.opening_p{
	padding-bottom:4em;

}
/*.contrast{
	margin-top:4em;
	margin-bottom:1em;
}*/

/* ORGANIZE put everything having to do with the body paragraph after this  */

.chapters h2{
	padding-top:1.5em;
	padding-bottom: .2em;
}

.chapters h4{
	color:#5D5858;

}


