body{
	background-color: rgba(249, 249, 249, 0.51);
	font-family:'helvetica neue';
	margin-left: 3em;
	margin-right: 35em;
	/*spacing: ;>*/
}
p{
	margin-left:.4em;
	line-height:113%;
}
ul {
	color:#565050;
}
.author{
	margin-bottom:5em;
	/*position:fixed;*/

}

/* first opening*/
.opening_p{
	padding-bottom:4em;

}
/*.contrast{
	margin-top:4em;
	margin-bottom:1em;
}*/

/* ORGANIZE put everything having to do with the body paragraph after this  */

.chapters h2{
	padding-top:2em;
	padding-bottom: .2em;
	padding-left:.3em;
	margin-top:6em;
	/*this only indented header, no chng txt*/
	/*margin-left:1em;
	margin-bottom:2em;*/
	background-color:#D6D2D2;
}

.chapter p{
	margin-left:.4em
}
.chapters h4{
	color:#5D5858;}

#redhead{
	padding-top:4em;
	padding-bottom: .2em;
	padding-left:.3em;
	background-color: #D26767;
}




.shapes{
	background-color:black;
	height:100px;
	width:400px;
	float:right;
	


}



