body{
	background-color: rgba(249, 249, 249, 0.51);
	font-family:'helvetica neue';
	margin-left: 3em;
	margin-right: 35em;
	/*spacing: ;>*/
}
.author{margin-bottom:5em;

}
.frstp{
	padding-bottom:2em;

}
.contrast{
	margin-top:4em;
	margin-bottom:1em;

}