html,
body {
background-color:black;
  height: 100%;
}

.container {

  font-family:helvetica;
  height: 100vh;
  margin: 10px auto;
  text-align: center;
  text-align: center
}

.top{
  font-family:helvetica;
	position:fixed;
	top:0px;
	color:white;
	size:300px;
	background-color:pink;

}

.bar {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 50%;
  margin-right: 10px;
  background: skyblue;
  -webkit-transition: height 0.1s ease-out;
  transition: height 0.5s ease-out;
}


#hint, #stage {
  position: fixed;
}

#hint {
  top: 17%;
  left: 20%;
  z-index: 100;
  color: white;
  font-size:110px;
  float:center;

}

#stage {
 
  padding: 5%;
  height: 60%;
  width: 90%;
  top: 20%;
  left: 0;
  z-index: 50;
  float:center;
}











