body {
	background-color: gray;
	margin-left: 25px;
	font-style: white;
	font-family: helvetica;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-decoration: underline;
	margin-bottom: 0px;
}


h2 {
	font-size: 21px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-decoration: none;
		margin-bottom: -8px;

	}

.text {
	font-size: 15px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-decoration: none;
}


p {
	font-size: 18px;
	font-weight: 200;
	font-family: helvetica;
	color: white;
	text-decoration: none;

}
/*
.bar {
	position: absolute;
	z-index: 5;
	height: 3px;
	width: 600px;
	top: 62px;
	background-color: black;
}

