body {
  font-family: Helvetica, sans-serif;
  margin-top: 5em;
  position: relative;
}


header {
  position: fixed;
  top:0;
  height: 4em;
  border-bottom: 5px solid #333;
}

nav {
  border: 1px solid #cccccc;
  height: 20%;
  padding: .5em;

}
section {
  background: #efefef;
  float: left;
  margin-right: 2%;
}

article {
  padding: 1em;
}

.left {
  width: 20%;
}

.middle {
  width: 55%;
}

.right {
  width: 21%;
  margin-right: 0;
}


footer {
  height: 5em;
  background: 333333;

}

@media screen and (min-width: 401px) and (max-width: 900px) {
  .left {
    width: 100%;
    margin-bottom: 2%;
    background: rgba(255,0,0,.5);
  }

  .middle {
    width: 59%;
  }

  .right {
    width: 39%;
  }
}


@media screen and (max-width: 400px) {
  .left, .middle, .right {
    width: 100%;
    margin: 0;
  }

}


