*.
*.html

*.css

*.png

*.jpg

*.css

*.html

*.ai

*.svg

*.woff

*.txt

*.js

*.gif

*.css

*.DS_Store

ran/Resume/Resume.css

ran/Resume/ran-resume.html

ran/Resume/img/topimg.jpg

ran/exercises/04_sitemap./sitmap.jpg

ran/exercises/02_dair-markup/typographic-contrast.html

ran/exercises/02_dair-markup/colors.css

ran/exercises/02_dair-markup/colors.css

noelle/exercises/08_Joseph-Müller-Brockmann-animated/css/josephposter.css

elsa/exercises/.DS_Store

elsa/exercises/02_dair-markupcss/.DS_Store

elsa/exercises/Josef/Josef.html

elsa/exercises/Josef/josef.css

elsa/exercises/.DS_Store

erica/excersise7/ani_seven.html

.DS_Store

noelle/projects/02_designsystem/designsystem.html

noelle/projects/02_designsystem/css/designsystem.css

ran/exercises/02_dair-markup/colors.css

ran/exercises/02_dair-markup/typographic-contrast.html

noelle/projects/02_designsystem/css/designsystem.css

noelle/exercises/08_Joseph-Müller-Brockmann-animated/svg/vector.svg

noelle/exercises/08_Joseph-Müller-Brockmann-animated/josephposter.html

noelle/exercises/08_Joseph-Müller-Brockmann-animated/images/SWX14497z.jpg

noelle/exercises/08_Joseph-Müller-Brockmann-animated/images/hugo.png

noelle/exercises/08_Joseph-Müller-Brockmann-animated/images/hans.jpg

noelle/exercises/08_Joseph-Müller-Brockmann-animated/css/vector.css

noelle/exercises/08_Joseph-Müller-Brockmann-animated/css/josephposter.css

erica/excersise7/css/ani_seven.html

ran/exercises/02_dair-markup/typographic-contrast.html

ran/exercises/02_dair-markup/colors.css

noelle/projects/02_designsystem/designsystem.html
