body{
	font-family: Helvetica;
	background-color:rgba(255,255,235,.5);
}
.sidebar{
	margin-left:2%;
	position: relative;
	align-items: left;
	justify-content: left;
}
.one{
	text-decoration: none;
	transition: letter-spacing .5s ease-in-out;
}
a{
	text-decoration: none;
}
.sidebar a:hover{
	letter-spacing:.2em;
}
a:visited{
	color: black;
}

@font-face{
	font-family: Helvetica, sans-serif;
}

@font-face{
	font-family: Courier, serif;
}

body{
	font: 21px sans-serif;
	padding: 2em;
	margin: 0;
	background:#222;
}

form{
	position: relative;
	margin-right:auto;
	margin-left:auto;
	padding:1%;
	width: 50%;
	height: 40%;
	margin-top:-10%;
	background:#FFF;
}