body{
	background-color: rgba(255,255,235,.4);
	display: flex;
	font-family: Helvetica;
	text-decoration: none;
}
.sidebar{
	margin-top:5%;
	margin-left:5%;
	position: relative;
	align-items: left;
	justify-content: left;
	text-decoration: none;
}
a{
	text-decoration: none;
	transition: letter-spacing .5s ease-in-out;
}
a:hover{
	letter-spacing:.2em;
}
a:visited{
	color: black;
}
.entertainment{
	transform: translate(145.5%,-1.5%);
}
.entertainment #five{
	position: relative;
	display: inline-block;
}
.entertainment #six{
	position: relative;
	align-items: center;
	justify-content: center;
	display: none;
}
.entertainment:hover #five{
	display: none;
}
.entertainment:hover #six{
	display: inline-block;
}