/*Add comments*/
body{
	font-family: 'Lato', sans-serif;
}

h3 {
	margin-top: 2em;
}

ul {
	color: #666;
}
.specialtext{
	color: red;
	margin-right: 

}

.steps {
	background-color: #C5E7F3;
	padding: 0em 1em 1em 2em;
	border: 5px solid #E8CC2F; 
	margin-top: 5em;
}
#cheescake{
	
}