body {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  margin: 2em auto;
}


svg {
  max-width: 80px;

}

rect {
  stroke: #666666;
  stroke-width: 3;
}
.a, .e, .six {
  fill: #F2337D;
}



@media screen and (max-width: 500px) {
  svg {
    width: 15%;
  }
}
