
.gallery{
	/*width:70%;
	height:60%;*/
	max-width:auto;
	height:auto;
	background-color:white;
	text-decoration:none;
	max-width:100%;
	height:auto;

}

src :hover{
	background-color:red;

}

.svgs{
	fill:#000000;
}
.svg:hover{
	fill:#94D31B;

}