/*Add comments*/
body{
	font-family: 'Lato', sans-serif;
}

h3 {
	margin-top: 2em;
}

ul {
	color: #cccccc;
}

.steps {
	background-color: #77C1DA;
	padding: 1em;
	border: 5px solid #E8CC2F; 
	margin-top: 5em;
}