/*BACKGROUND image*/
html, body {
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Gloria Hallelujah', cursive;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

#slideshow-block{
	position: relative;
	margin-left: 5%;
	height: 100%;
}

.slides {
	height: 90%;
	width: 45%;
}

.slides li {
	height: 100%;
}

.slides img {
	height: 100%;
}

}
a.link:hover{
	background-position: center -100px;
}


.slides.active{
	visibility:visible;
}

.bg-container {
	background-size: 65%;
	text-align:center;
    color:#FFF;
    font-weight:bold;
    background-position:center;
}

.content {
	height: 100%;
	position: relative;
}

.arrow {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -100px;
    padding-top: 2em;
}


/*PARALEX SCROLL PART 2 Name*/
.section-1{
    height: 100%;
    background-image:url("../images/background.png");
}

#start-button {
	cursor: pointer;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #ffffff;
	font-size: 51px;
	background: #f54747;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Gloria Hallelujah', cursive;
}

#button-box {
	position: absolute;
	top: 40%;
	left: 40%;
}

/*PARALEX SCROLL PART 3 Ingredients*/
.section-2{
    height: 75%;
    background-image:url("../images/background3.png");
}

.form-input-style {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 5%;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*cookie image*/
.cookie{width: 10%;
		height:10%;
		padding-top: 1em;
		 position: absolute;
    	left: 50%;
    	bottom: 40%;
    	margin-left: -5%;}
/*PARALEX SCROLL PART 4 Steps*/
.contentbackground {background-color: #f54747;
					position: relative;
					opacity: .85;
					width: 80%;
					height: 100%;
					border-radius: 10px;
					margin-left: 10%;
					padding-bottom: -90%}
/*recipe card image*/
#recipe{width:100px;
		height: 100px;}

/*STEP DESCRIPTION*/
.descr{text-align: left;
	padding:2em 2em 2em 2em;
	font-family: Arial;}
/*buffer for steps image*/
#stepsbuf{padding-bottom: 20%;}
/*Steps image*/
{width: 10%;
		height:10%;
		position: absolute;
		left: 53%;
    	bottom: 40%;
    	}

.section-3{
	min-height: 350%;
	max-height: 575%;
    background-image:url("../images/background4.png");
}

#ingredients_table {
	border-spacing: 50px 50px;
}

#ingredients_table td {
	text-align: left;
}

.ing-amount {
	font-size: 30px;
	padding-right: 10px;
}

.section-4{
	height: 100%;
    background-image:url("../images/background3.png");
}

#result {
	visibility: hidden;
}