body {
	background-color: white;
	margin-left: 35px;
		margin-bottom: none;
				margin-top: none;
	font-family: times;
	color: white;
	line-height: 1.0;
}

a {	text-decoration: none;
		margin-bottom: none;
						margin-top: none;

}


h1 {
	font-size: 108px;
	line-height: 1.0;
	font-weight: 900;
	font-family: helvetica;
	color: #c8ff00;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
	margin: none;
				padding: -55px;
}


h2 {
	font-size: 108px;
		line-height: 1.0;
	font-weight: 900;
	font-family: helvetica;
	color: #afff02;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
		margin: none;
				padding: -55px;
}

h3 {
	font-size: 108px;
	font-weight: 900;
	font-family: helvetica;
	color: #7deb41;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
		margin: none;
				padding: -55px;
					line-height: 1.0;
}

h4 {
	font-size: 108px;
	font-weight: 900;
	font-family: helvetica;
	color: #5adc6e;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
		margin: none;
				padding: -55px;
					line-height: 1.0;
}

h5 {
	font-size: 108px;
	font-weight: 900;
	font-family: helvetica;
	color: #37cd9b;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
		margin: none;
				padding: -55px;
					line-height: 1.0;
}

h6 {
	font-size: 108px;
	font-weight: 900;
	font-family: helvetica;
	color: #19c3c3;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
		margin: none;
				padding: -55px;
					line-height: 1.0;
}


section {
	font-size: 108px;
	font-weight: 900;
	font-family: helvetica;
	color: #00b9d7;
		-webkit-text-stroke: 1px black;
	text-decoration: none;
		margin: none;
				padding: -55px;
					line-height: 1.0;
}

footer {
	height: 100px;
	width: 100%;
	color: white;
	}



/*
.bar {
	position: absolute;
	z-index: 5;
	height: 3px;
	width: 600px;
	top: 62px;
	background-color: black;
}

