h1 {font-family: lyno, Arial;
	/*font-weight: stan;*/
	color: white;
	font-size: 14.5vw;
	line-height: 95%;
	-webkit-text-stroke: .9px black;
	margin-top: -.1em;
	margin-bottom: .09em;
	/*background-color: black;*/
	text-decoration: underline;
	text-decoration-color: red;}

em {font-size: 6vw;
	color: red;
	font-style: normal;
	line-height: 100%;
	font-family: Arial;
	font-weight: bold;
	}
h2 {border-bottom: 1px solid yellow;} 

body {font-family: georgia;
	background-color: lightgreen;
	border: 5px red dashed;
	padding: 1em;
/*-webkit-column-count: 2;*/}

h2 {font-family: Arial;
	color: red;
	font-size: 1.2em;
	line-height: 95%;
	-webkit-text-stroke: none none;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-bottom: .17em;
	margin-top: 2em;}

h4 {font-style: italic;}

li {list-style: circle;
	/*margin-top: -1em;*/}

h3 {margin-top: 0;}

div {margin-top: 2em;
	-webkit-column-count: 3;
	-webkit-column-rule: 1px outset yellow;}

@media (max-width: 1000px) {
  div {-webkit-column-count: 2;
  	   -webkit-column-gap: 1em;
  	   -webkit-column-rule-style: solid;
  	   -webkit-column-rule: 1px outset #ff00ff;}
  body {background-color: yellow;}
  h1 {-webkit-text-stroke: 1px red;}
/*  h2 {border: 1px solid yellow;}
*/	}

@media (max-width: 620px) {
div {-webkit-column-count: 1;}
body {background-color: orange;}
h1 {-webkit-text-stroke: .3px red;}
h2 {border-bottom: 1px dashed blue;}
	}

.special {font-family: didot;
		  font-style: normal;
		  color: red;
			}