/*Add comments*/
body{
		font-family: "Abel", sans-serif;
}

.bar {
		height: 20px;
		background-color: yellow;
		margin: 0 0 0 0;
	}

.bartwo {
		height: 20px;
		background-color: #66FF33;
		margin: 0 0 0 0;
	}

.barthree {
		height: 20px;
		background-color: #99FFFF;
		margin: 0 0 0 0;
	}

.barfour {
		height: 20px;
		background-color: #FF99FF;
		margin: 0 0 0 0;
	}

.barfive {
		height: 20px;
		background-color: #FF6666;
		margin: 0 0 0 0;
	}

h1 {
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 1em;
}

p {
	margin-left: 4em;
	margin-right: 2em;
}

.intro {
	color: #240B3B;
	background-color: #FF33FF;
	border: 2px solid #66FFCC;
	padding: 1em 1em 1em 1em;
	margin-bottom: 1em;

}

.written {
	color: #00FFFF;
}

.bod {
	color:#CCFFCC;
}

.bodd {
	color:#00FFFF;
}

h2 {
	color: #FF66FF;
	margin-top: 2em;
	margin-left: 2em;
}

h3 {
	color: #00FFFF;
	margin-left: 2em;
	margin-top: 2em;
}

ul {
	color: white;
	background-color:#FF33FF;
	padding: 1em 1em 1em 5em;
	border: 4px solid #66FF33;
	margin-top: 2em;
	margin-bottom: 3em;
	margin-left: 4em;
	margin-right: 2em;
}

.bottom {
	color:#FF66FF;
	background-color: black;
	border: 4px solid #66FF33;
	margin-top: 2em;
	margin-bottom:2em;
	margin-left:4em;
	margin-right:2em;
	padding-top: 2em;
	padding-bottom: 0em;
}

.lastp {
	margin-bottom: 3em;
}

