.rect{
	width: 1px;
	height: 3.35em;
	background-color: rgb(255,73,87);
	margin: 0 20px 20px 0;
	float: left;
}
.zero{
	position: relative;
	top:-60px;
}
.one{
	position: relative;
	top: 30px;
	height:1em;
	width:5px;
}
.two{
	position: relative;
	top: 90px;
	background-color: rgba(255,73,87,.9);
	height: 2em;
	width:10px;
}
.three{
	position: relative;
	top: 210px;
	background-color: rgba(255,73,87,.7);
	height: 4em;
	width:20px;
}
.four{
	position: relative;
	top:450px;
	height: 8em;
	background-color: rgba(255, 73,87,.5);
	width:40px;
}
.five{
	position: relative;
	top:930px;
	background-color: rgba(255, 73,87,.3);
	height:16em;
	width:60px;
}
.six{
	position: relative;
	top:1890px;
	background-color: rgba(255, 73,87,.1);
	height:32em;
	width:80px;
}
.seven{
	position: relative;
	top:3810px;
	background-color: rgba(255, 73,87,.02);
	height:64em;
	width:100px;
}
.eight{
	position: relative;
	top:1890px;
	background-color: rgba(255,73,87,.1);
	height:32em;
	width:80px;
}
.nine{
	position: relative;
	top: 930px;
	background-color:rgba(255,73,87,.3);
	height:16em;
	width:60px;
}
.ten{
	position: relative;
	top:450px;
	background-color: rgba(255,73,87,.5);
	height:8em;
	width:40px;

}
.eleven{
	position: relative;
	top:210px;
	background-color:rgba(255,73,87,.7);
	height:4em;
	width:20px;
}
.twelve{
	position:relative;
	top:90px;
	background-color:rgba(255,73,87,.9);
	height:2em;
	width:10px;
}
.thirteen{
	position: relative;
	height:1em;
	top:30px;
	width:5px;
}
.fourteen{
	position:relative;
	top:-60px;
}
