img {
	width: 12%;
	height:	17%;
	margin-left: 75%;
	float: left;
}

img:hover {
	-webkit-filter: blur(.5px);
	filter: blur(.5px);

}

.logo img {
	transition: all .5s ease-in-out; 
}

.logo img:hover { 
	transform: scale(1.1); 
}


body {
	font-family: Helvetica Neue;
	margin-left: 5%;
	margin-top: 2.5%;
}

h1 {
	font-weight: 100;
	font-size: 200%;
}

h2 {
	font-weight: 700;
	font-size: 100%;
}

h2~p {
	font-weight: 200;
	font-size: 60%;
}

h3 {
	font-weight: 600;
	font-size: 60%;
}

h3+p {
	margin-top: -1%;
}

h6 {
	font-style: thin;
	font-size: 60%;
	margin-top: -20px;
	font-weight: 200;
}

.contact {
	font-style: thin;
	font-size: 60%;
	float: left;
	font-weight: 200;
	line-height: 100%;
	height: 100vh;
	margin-right: 5%;
	margin-top: 0%;
}

}

.body {
	width: 75%;
	float: left;
	margin-top:;
}

.title {
	clear: both;
}


#bellow {
	margin-top: -1.5%;
}

#different {
	margin-top: -1.5%;
}

.experience {
	width: 30%;
	float: left;
	margin-right: 5%;
	min-width: 200px;
	background-color: #CCCCCC;
	padding: 0% 2% 2% 2%;
	transition: all .5s ease-in-out; 
}

.experience:hover { 
	transform: scale(1.1); 
}

.education {
	width: 30%;
	float: left;
	margin-right: 5%;
	background-color: #CCCCCC;
	padding: 0% 2% 2% 2%;
	transition: all .5s ease-in-out; 
}

.education:hover { 
	transform: scale(1.1); 
}

.skills {
	width: 30%;
	float: left;
	background-color: #CCCCCC;
	padding: 2%;
	transition: all .5s ease-in-out;
}

.skills:hover { 
	transform: scale(1.1); 
}

@media screen and (max-width: 600px) {
	h1 {
		width: 100%;
		background-color: #CCCCCC;
	}

	.experience {
		width: 100%;
	}
	.contact {
		height:	auto;
	}

	.education {
		width: 100%;
	}

	.skills {
		width: 100%;
	}
}










