body {
	font-family: 'Lato', sans-serif;
}
.bar {
		width: 200px;
		height: 200px;
		background-color: yellow;
		margin: 90px 30px 25px 30px;
		float: left;
}

.one {
		z-index: 10;
		position: fixed;
		top: 35px;
		left: 75px;
		background-color: rgba(25,255,0,.8);
}

.two {
		position: relative;
		top: -30px;
}

.three {
		background-color: #FF4105;
		position: absolute;
		top: 20px;
		left: 45px;
}