body{
	font-family: Helvetica, sans-serif;
	background:rgba(197,194,177,.8);
}
.title{
	margin-top:22%;
	margin-left:2%;
	font-size: 115%;
	padding-bottom:5%;
}
h2{
	line-height:35%;
}
.smaller{
	font-size:65%;
	margin-bottom:2%;
	margin-left:2%;
}