body {
	font-family: National,Verdana,Helvetia;
}
.image{
	position:static;
	left: 0px;
	top: 300px;
	z-index:-100;
}
.wrapper{
	width:500px;
	height:35px;
}

.table {
	display:block;
	width:100%;
}
.text{
	z-index:100;
	color:yellow;
	position:absolute;
	left: 0px;
	font-size: 110px;
	left:50px;
	top:-130px;
}

h1 {
	color:purple;
	font-size:90px
}

.intro {
	color:darkgrey;
	font-style:italic;
} 

h2 {
	color:red;
}

h3 {
	color:red;
}

.boxes {
	border:0px; 
	border-style:solid; 
	border-color:darkgrey; 
	height:110px;
	padding: 2em; 
	background-color:#DFDFDF;"
}

.last {
	border:0px; 
	border-style:solid; 
	border-color:darkgrey; 
	height:190px;
	padding: 2em; 
	background-color:#DFDFDF;"
	
	
}

.texthover {
	max-width:70%;
	max-height:70%;

	display:block;
	position:relative;
	text-align: center;
	}

