body {	background-image: url("../images/image1.jpg");
		background-attachment: fixed;}

.bars { width:10%;
		height:24em;
		background-color: #564d4d;
		opacity: 0.6;
		margin: 0 30px 30px 0;
		float: left;
		clear:both;}

.zero { width: 100%;
		height: 16em;
		background-color:#402f2f;
		margin: 2 30px 30px 0;
		float:left;}

.one { width: 33%;
		height: 17em;
		background-color: #402f2f;
		opacity: 0.6;
		margin: 2 30px 30px 0;
		float:left;}

.two { width: 33%;
		height: 18em;
		background-color: #1a1010;
		opacity: 0.6;
		margin: 2 30px 30px 0;
		float:left;}

.three { width: 33%;
		height: 19em;
		background-color: #1a1010;
		opacity: 0.6;
		margin: 2 30px 30px 0;
		float:left;}