html, body {
 
   
}

h1 {
	font-family: 'Lobster', cursive;
	border-bottom: 1px dashed #FF33C5;
	padding-bottom: 20px;
}

p {
	font-family: 'Cabin', sans-serif;
	margin-left: 25px;
	margin-right: 25px;


}



p a {
	text-decoration: none;
	color: #FF33C5;
}

p a:visited {
	color: #FF335F;
}


#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}



#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


#photos a
{
	background-color: orange}

#photos img:hover
 {
    
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
   
}



#photos a:visited img
{
	opacity: .5;
}

h1 {
	margin: auto;
	text-align: center;
}


@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }

}


@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

