body {
	font-family:national,Verdana;
}

h1 {
	color:purple;
	font-size:90px
}

.intro {
	color:darkgrey;
} 

h2 {
	color:red;
}

h3 {
	color:red;
}

.boxes {
	border:0px; 
	border-style:solid; 
	border-color:darkgrey; 
	padding: 2em; 
	background-color:lightgrey;"
}

.texthover {
	max-width:70%;
	max-height:70%;

	display:block;
	position:relative;
	text-align: center;
	}