/*Add comments*/

body {
    background:#f2f2f2;
}








 
.clearfix:after {
    display:block;
    clear:both;
}


 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:black  ;
}
 
.menu {
	text-decoration:none;
    margin:0px auto;
    width: 60%;
    padding: 2px;
}
 
.menu li a {
	text-decoration:none;
    list-style:none;
    font-family: 'Lato', sans-serif;
}
 
.menu a {
    transition:all linear 0.15s;
    color:black;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#ccc;
}
 
 
/*----- Top Level -----*/
.menu > ul > li {
    
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#505050 ;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#303030 ;
}
 
.sub-menu li {
    float: left;
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    text-align: left;
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#606060;
}




/*----- page bar -----*/

.menu-wrap-two {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#303030 ;
}

.define {
    color:#ccc;
    text-decoration:none;
    margin:0px auto;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 25px;

}
 
/*----- content -----*/





.spine {
    margin-top: 40px;
}


.logo {
    padding: 14px 16px 15px 15px;
}

.allme {
    color:#FF6600;
    font-size: 20px;
}

.allmetwo {
    text-decoration: none;

}






.haas {
    font-size: 20px;
    text-decoration: none;
}

.spine .alltheme .haas {
    text-decoration: none;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}



.bar {
        width: 200px;
        height: 200px;
        margin: 20px 20px 20px 20px;
        float: left;
}
.crop-container-one {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-left: 3em;
    border-radius: 50%;
}
 .crop-container-one img {
       width:100%;
       height:auto;
 }

 .crop-container-two {
    text-decoration:none;
    font-family: 'Lato', sans-serif;
    width: 400px;
    height: 250px;
    margin-left: 7em;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 2%;
}
 .crop-container-two img {
       width:100%;
       height:auto;
       font-family: 'Lato', sans-serif;
 }


p {
    color: #202020;
    text-decoration:none;
}

































































