
body{font-family: 'Maven Pro', sans-serif;
	font-size: 11px;
	max-width: 550px;
	max-height: 750px;
	line-height: 0px;
	margin: 0 auto ;
	

	}

.back { background-color: #bbbbbb;
	width: 550px;
	height: 750px;
	margin: 0 auto;
	z-index: 0;
	position: absolute;
	
	
}


.yellow {background-color: #f2f2e7; 
	width: 550px;
	height: 550px;
	transform: rotate(-45deg);
	position: absolute;
	margin-left: 3em;
	margin-top: -10px;
	z-index: 10; 

	
	

}



.titles {float: left;
	text-align: right;
	width: 13%;
	margin-right: 10px;}

.articles {float: left;
	width: 30%;
	z-index: 10; 
	}


p {margin-top: 5px}


section {
	margin: 10px;
	margin-top: 5px;
	width: 100%;
	overflow: hidden;
	max-width: 600px;
	float: left;
	z-index: 10; 
}




.text {	transform: rotate(-45deg);
	margin-top:30em;
	margin-left: -3em;
	z-index: 10; 
	position: absolute;
}





.bars {
	width: 15px;
	height: 15px ;
	margin:  0;
	position: absolute;
	z-index: 20; 
}

.rotate { transform: rotate(-45deg);
	max-width: 500px;
	height: 100%;
	position: absolute;
	z-index: 20; 
	margin-top: 10em;
	margin-left: 25em;

}

.first {margin-top: 3em;
	margin-left: 6em}

.second {margin-top: 8em;}

.third {margin-top: 4em;
	margin-left: 6em
	}


/*
.bars{   -webkit-transition: height 0.7s;
    transition: height 0.7s;
     transition-duration: 1s;

}

.bars:hover { height: 300px; 
	 }
*/


@keyframes first {
     from {margin: 4em;

    }

	to {margin-top:0em; }

}



.bars {

    animation-name: first;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  animation-direction: alternate;
}






.white {width: 15em;
	height: 700px;
	z-index: 30;
	position: absolute;
	background-color: white;
	margin-left: -15em;}

.whites {width: 15em;
	height: 700px;
	z-index: 30;
	position: absolute;
	background-color: white;
	margin-left: 550px;}




.a {
	background-color: #000000;
}


.b {
	background-color: #1c9ed2;
	margin-left: 70px;
}

.c {
	background-color: #ebe225;
	margin-left: 85px;
}

.d {
	background-color: #d60000;
	margin-left: 155px;
}


.e {
	background-color: #d60000;
	margin-left: 55px;
}

.f {
	background-color: #1c9ed2;
	margin-left: 70px;
}

.g {
	background-color: #ebe225;
	margin-left: 125px;
}

.h {
	background-color: #000000;
	margin-left: 250px;
}

.i {
	background-color: #ebe225;
	margin-left: 340px;
}



.j {
	background-color: #d60000;
	margin-left: 355px;
}


.k {
	background-color: #1c9ed2;
	margin-left: 455px;
}

.l {
	background-color: #000000;
	
}

.a {
	background-color: #000000;
}


.b {
	background-color: #1c9ed2;
	margin-left: 70px;
}

.c {
	background-color: #ebe225;
	margin-left: 85px;
}

.d {
	background-color: #d60000;
	margin-left: 155px;
}




/*div:nth-child(4) {margin-left: 3em}




