/*Add comments*/
.top{

	background: url(img/topimg.jpg) no-repeat;/*就像把文字和图片放在同一个文件夹里,把文件放在css里也可以*/
	height: 500px; /*图片很大的话设置一个最大尺寸*/
	margin-left: 0.1%;
	background-size: cover; /*这样的话即使调整窗口大小图片也不会跟着改变*/
}
body{
	font-family: Helvetica, Neue;
	font-size: 
	margin-left: 0.5%;
	margin-top:2.5;


}


}
h1{
	
	font-weight: 100;
	font-size: 200%;
	margin-right: 0.1%;
}
.left-top{
	background-color: 	#C0C0C0;
	width: 26%;
	margin:5px 20px 5px 0px;
    padding:0px 4px 0px 58px ;
    height: 200px;
    
}

.left { 
	background-color: 	#C0C0C0;
	font-family:'Open Sans', sans-serif;
	font-size: 15px;
	width: 26%;
	height: 1500px;
	margin:5px 0px 5px 0px;
    padding:0px 0px 0px 46px ;
    position: relative;
	float: left;
	text-align: left;
}


table.table-left th, table.table-left td {
	border-bottom: 1px dashed #484848;
	//border-top: 1px solid #484848;
 
}

table.table-left td { 
	margin-top: 2;
	width: 150px;
}

table.table-left th {
	margin-top: 2;
	width: 150px;
}
table.table-left {
	border-top: 1px solid #484848;
}



.center { 
    margin: 5px 5px 5px 5px;
    padding: 0px 3em 0em 0em;
	float: center;	
	overflow: hidden;
}
.center-mid{
	text-align: left;
	font-family:'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 6px;
    margin-top: 0em;

}
.table-tag {
    text-align: left;
	margin-top: 2;
	width: 1000px;
}


}
.detail { margin-left: 20px; }
table.chart{
    margin-top: 10px;
    height: 200px;
	width: 900px;
	//border: 1px dashed #484848;
}
.canvas {
	display: block;
	width: 300px;
	margin: 100px auto;
}



.left-bottom{
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 6px;
    margin-top: 6em;
    
}




.tagIcon {
	text-align: center;
	float: left;
   height: 30px;
   width: 90px;
   line-height: 32px;
   position: relative;
   margin: 0 20px 0 20px;
   padding: 0 15px 0 15px;
   background: #222;
   color: white;
   text-decoration: none;
   border-radius:4px 0px 0px 4px;
}

/* triangle */
.tagIcon:before {
   content: "";
   position: absolute;
   top: 0;
   left: 120px;
   border-color: transparent transparent transparent #222;
   border-style: solid;
   border-width: 15px 0px 15px 15px;
}


