/*Add comments*/
.top{

	background: url(img/topimg.jpg) no-repeat;/*就像把文字和图片放在同一个文件夹里,把文件放在css里也可以*/
	height: 500px; /*图片很大的话设置一个最大尺寸*/
	margin-left: 0.1%;
	background-size: cover; /*这样的话即使调整窗口大小图片也不会跟着改变*/
}
body{
	font-family: Helvetica, Neue;
	margin-left: 0.5%;
	margin-top:2.5;

}


}
h1{
	
	font-weight: 100;
	font-size: 200%;
	margin-right: 0.1%;
}
.left { background-color: #77787b;

	font-size: 20px;
	margin:5px 5px 5px 5px;
    padding:0px 4em 0px 0px ;
    position: relative;
	float: left;
	text-align: left


}
.center { 
    margin: 5px 5px 5px 5px;
    padding: 7px 3em 0em 0em;
	float: center;
	;
	}
	.detail { margin-left: 10em; }


.education{margin-top: 0.01em}
.pro {margin-top: 6em}
.honors {margin-top: 46em}
.skills {margin-top: 8em}
.extra {margin-top: 4em; margin-bottom: 10em;}