body {
  font-family: Helvetica, sans-serif;
  position: relative;
  text-align: center;
}

#container {
  max-width: 980px;
  margin: 8em auto 0;
  text-align: left;
  line-height: 1.4;
}

a:hover {
  text-decoration: none;
}

a[target="_blank"]{
  color: red;
}


header {
  position: fixed;
  top:0;
  height: 4em;
  border-bottom: 5px solid #333;
}

nav {
  background: #ffffff;
  position: fixed;
  top: 5em;
  border: 1px solid #cccccc;
  padding: .5em;
}

section {
  float: left;
}

article {
  padding: 1em;
}

.col1 {
  width: 20%;
  background: #efefef;
}

.col2 {
  width: 50%;
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/02/Giraffe_Ithala_KZN_South_Africa_Luca_Galuzzi_2004.JPG);
  background-size: contain;
}

.col2:hover {
  -webkit-filter: blur(20px);
          filter: blur(20px);

  /*background: url(img/tiger.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
}


.col3 {
  background: #efefef;
  width: 30%;
  margin-right: 0;
}


footer {
  height: 5em;
  background: 333333;

}

@media screen and (max-width: 900px) {
  .col1 {
    width: 100%;
    margin-bottom: 2%;
  }

  .col2 {
    width: 59%;
  }

  .col3 {
    width: 39%;
  }
}


