
/*Scroll through logo mask functions*/
.header {
  padding:40px 40px 40px 300px;
  background:transparent url(../images/namelogo2.tif) no-repeat 20px 20px fixed;
  background-position: left;
  width:10%;
  height: 10%;
}
.content {
  padding:10px 40px 10px 300px;
  background: transparent url(../images/namelogo.png) no-repeat fixed;
}

/*text for position header*/
h3 {font-family: 'Carrois Gothic', sans-serif;
	color:#232b2a;
	text-align: left;
	padding-left: 200px;}

/*text for degree header*/
h4 {font-family: 'Carrois Gothic', sans-serif;
	color:#232b2a;
	text-align: left;
	padding-left: 200px;
	width:100%;}

/*text for contact info header*/
h6 {font-family: 'Carrois Gothic', sans-serif;
	color:#232b2a;
	text-align: left;
	padding-left: 200px;
	width:100%;}

/*hyperlink*/

a {color: #115e55}

/*section headers*/
h5 {font-family: 'Carrois Gothic', sans-serif;
	text-align: left;
	font-size: 18pt;
	padding-left: 200px;
	width:70%;
	margin-top: 0em;
	float: right;
	text-align: center;
	font-weight: bolder;
	color:#838181;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #dfdede;
	margin-bottom: 1em;
	margin-top: 3em;}

/*sub section headers*/

.subsectionh {font-family: 'Carrois Gothic', sans-serif;
	text-align: left;
	font-size: 14pt;
	padding-left: 200px;
	width:50%;
	margin-top: 0em;
	float: right;
	font-weight: normal;
	color:#838181;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #f4f3f3;
	margin-bottom: 1em;
	margin-top: 3em;}

/*objectivetext*/
.objectivetext {font-family: 'Carrois Gothic', sans-serif;
	text-align: center;
	color:#232b2a;
	padding-left: 200px;
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
	width:70%;
	margin-top: 0em;
	float:center;
	}

/*job title bold*/
.jobtitle {font-family: 'Carrois Gothic', sans-serif;
	text-align: left;
	color:#232b2a;
	padding-left: 200px;
	font-size: 12pt;
	font-weight: bold;
	width:70%;
	margin-top: 0em;
	float: right;
	}

p 	{font-family: 'Carrois Gothic', sans-serif;
	color:#232b2a;
	text-align: left;
	padding-left: 200px;
	font-size: 10pt;
	width:70%;
	margin-top: 0em;
	float: right;
	}
/*spacer between roles*/
.categoryspace {width:70%;
	margin-top: 2em;
	float: right;
	}
