@charset "utf-8";
	.st0
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st1
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st2
{
	background : #967FBA;
	background : rgba(150, 127, 186, 1);
}
.st3
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st4
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st5
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st6
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st7
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st8
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st9
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st10
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st11
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st12
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st13
{
	background : #967FBA;
	background : rgba(150, 127, 186, 1);
}
.st14
{
	background : #967FBA;
	background : rgba(150, 127, 186, 1);
}
.st15
{
	background : #967FBA;
	background : rgba(150, 127, 186, 1);
}
.st16
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st17
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st18
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st19
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st20
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st21
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st22
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st23
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st24
{
	border-style : Solid;
	border-color : #967FBA;
	border-color : rgba(150, 127, 186, 1);
	border-width : 1pt;
}
.st25
{
	background : #967FBA;
	background : rgba(150, 127, 186, 1);
}
.st26
{
	background : #967FBA;
	background : rgba(150, 127, 186, 1);
}
