html{
	font-family:helvetica;
}
.exercises a {
  display: block;
  width: 100px;
  height: 100px;
  margin: .5em;
  float: left;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: .5em;
}


section {
  background: #efefef;
  min-height: 100vh;
  padding: 5em;
  box-sizing: border-box;
  margin-bottom: 3em;
}

.projects a {
	display:block;
	width: 100px;
    height: 100px;
    margin: .5em;
    float: left;
    background: #000000;
    box-sizing: border-box;

    padding: .5em;
}