#stage {
/*  border: 1px outset #FFFFFF;*/
}

#felt {
  position: relative;
  margin: 0 0 0 200px;
  height: 100vh;
  width:100vw;
  padding:0%;
  background: white;
 

 /* box-shadow: inset 0 0 10px rgba(0,0,0,0.4);*/
}

#felt div {
  position: absolute;
  left: -20%;
  top: 25%;
  z-index: 0;


  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  -webkit-transition-property: left, top, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out, ease-out, ease-in-out;

}