body{
	background-color:#E48383;
	animation: colors 3s;
	animation-iteration-count: infinite;

}

.gallery{
	margin:2em;
	width:60%;
	height:auto;
	text-decoration:none;

}
 .gallery img{
	margin:.3em;
	padding: 10px;
	display: inline-block;


}

 .gallery #one{
	background-color:white;
}

@keyframes colors{
	0% {background-color:#5F64A0;}
	40%{background-color:orange;}
	80%{background-color:#E48383;}
	100%{background-color:#5F64A0;}
}
svg:hover{
	stroke:#83E4A5;
 	animation: svgcolors 5s;
 	animation-iteration-count: infinite;

}

svg{
	margin:.1em;
	width:10%;
	height:auto;
	display:inline-block;
 fill:#83E4A5;
 

}

@keyframes svgcolors{
	0% {
		fill:#83E4A5;
	}
	40%{fill:orange;}
	100%{fill:#83E4A5;}
}

svg:hover{
	fill:white;

}