/*css comments here*/
body{font-family: 'Lato', sans-serif;}

h3 {
	margin-top: 1.25em
}

.highlight {background-color:  }

.steps{background-color: lightblue



}

.list{
	border: 20px




}
.Title{color:lightblue;
text-align:center;
 }